<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo">
      <img src="/static/golang-logo.png">
    </a>
    <a href="/" class="logo">
      <img src="/static/spark-logo.png">
    </a>
    <h1>My First Cisco Spark Bot</h1>
      <p>This is a sample Go web application deployed to Heroku. This site hosts a Cisco Spark bot which responds to certain events from Spark using webhooks.</p>
      <a type="button" class="btn btn-lg btn-default" href="https://developer.ciscospark.com/index.html"><span class="glyphiconglyphicon-flash"></span>Cisco Spark for Developers</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/NitishV/cisco-spark-bot"><span class="glyphiconglyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
          <li>This app was deployed to Heroku, either using Github integration.</li>
          <li>When Heroku received the source code it used the go tool chain to compile the application along with any vendored dependencies and created a deployable slug.</li>
          <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
          <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-go">Getting Started with Go on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/go-support">Heroku Go Support</a></li>
        <li><a href="https://www.ciscospark.com/index.html">Cisco Spark</a></li>
        <li><a href="https://developer.ciscospark.com/getting-started.html">Cisco Spark for Developers - Getting Started</a></li>
        <li><a href="https://developer.ciscospark.com/quick-reference.html">Cisco Spark API Reference</a></li>
        <li><a href="https://developer.ciscospark.com/bots.html">Cisco Spark Bots</a></li>
        <li><a href="https://developer.ciscospark.com/webhooks-explained.html">Cisco Spark Webhooks</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
